<%= form_with(model: service, local: true) do |form| %>
<div class="module-header">
  <div class="module-title">
    <%= link_to 'Configuración', admin_path %> <span class="grey-text">></span> 
    <%= link_to 'Servicios', services_path %> <span class="grey-text">></span> 
    <% if title == 'Editar' %>
      <%= link_to service.name, service_path(service) %>
    <% else %>
      <%= title %>
    <% end %>
  </div>
  <div class="module-actions">
    <%= form.submit 'Guardar', class: 'waves-effect waves-light btn-small light-blue' %>
  </div>
</div>
<div class="module-workarea">

    <div class="item-workarea">
      <div class="item-section">
        <div class="item-section-workarea">

  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field :name, id: :service_name %>
      <%= form.label :name, 'Nombre' %>
    </div>
  </div>
<% end %>
<script>
  M.updateTextFields()
</script>


