<div class="module-header">
  <div class="module-title">
    <%= link_to 'Configuración', admin_path %> <span class="grey-text">></span> 
    <%= link_to 'Servicios', services_path %> <span class="grey-text">></span> <%= @service.name %>
  </div>
  <div class="module-actions">
  	<%= link_to 'Editar', edit_service_path(@service), 'class' => 'waves-effect waves-light btn-small light-blue' %>
  </div>
</div>
<div class="module-workarea">

    <div class="item-workarea">
      <div class="item-section">
        <div class="item-section-workarea">
          <div class="catalog-title"><%= @service.name %></div>
          <div class="catalog-fields">
          </div>
        </div>
      </div>
    </div>

</div>