<div class="module-header">
  <div class="module-title">
    Tablero de control
  </div>
  <div class="module-actions">
  </div>
</div>

  	 
<div class="module-workarea dashboard-area">
  <div class="row">
    <div class="col s6">
      <% problems = Problem.where(status: [Problem::STATUS_OPEN, Problem::STATUS_PENDING]).order('created_at DESC') %>
      <% if problems.count > 0 %>
        <div class="card">
          <div class="dashboard-section-title dashboard-alert-title"><i class="material-icons">report_problem</i> Problemas abiertos</div>
          <div class="dashboard-section-workarea dashboard-80">
            <%= render partial:"problems/activity", locals: {problems: problems} %>
          </div>
        </div>
      <% end %>

      <div class="card">
      <% tickets = Ticket.where(status: [Ticket::STATUS_OPEN, Ticket::STATUS_PENDING]) %>
      <% if tickets.count > 0 %>
        <div class="dashboard-section-title"><i class="material-icons">confirmation_number</i> <%= tickets.count %> tickets abiertos</div>
        <div class="dashboard-section-workarea dashboard-80">
          <%= render partial:"tickets/list", locals: {tickets: tickets} %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col s6">
      <% changes = Change.where(status: [Change::STATUS_OPEN, Change::STATUS_PENDING]).order('created_at DESC') %>
      <% if changes.count > 0 %>
        <div class="card">
          <div class="dashboard-section-title"><i class="material-icons">track_changes</i> Cambios en curso</div>
          <div class="dashboard-section-workarea dashboard-80">
            <%= render partial:"changes/activity", locals: {changes: changes} %>
          </div>
        </div>
      <% end %>

      <div class="card">
        <div class="dashboard-section-title"><i class="material-icons">library_books</i> Actividad en proyectos</div>
        <div class="dashboard-section-workarea">
          <%= render partial:"projects/activity" %>
        </div>
      </div>
    </div>

  </div>

</div>