<%= form_with(model: @person, local: true) do |form| %>
<% full_name = @person.full_name rescue '--' %>
<div class="module-header">
  <div class="module-title"><a href="<%= people_path %>">Personas</a> <span class="grey-text">></span> <%= link_to full_name, @person %> <span class="grey-text">></span> Editar</div> 
  <div class="module-actions">
  	<%= form.submit 'Guardar', class: 'waves-effect waves-light btn-small blue-grey' %>
  </div>
</div>

<div class="module-workarea">

  	<div class="item-workarea">
  	  <div class="item-section">
        <div class="item-section-workarea">
          <% if @person.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@person.errors.count, "error") %> no permiten que esta persona sea actualizada:</h2>

		      <ul>
		      <% @person.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

	      <div class="row">
            <div class="input-field col s1">
	          <%= form.text_field :title, id: :person_title %>
	          <%= form.label :title, 'Título' %>
	        </div>
	        <div class="input-field col s4">
	          <%= form.text_field :first_name, id: :person_name %>
	          <%= form.label :first_name, 'Nombre' %>
	        </div>
	        <div class="input-field col s4">
	          <%= form.text_field :last_name, id: :person_last_name %>
	          <%= form.label :last_name, 'Paterno' %>
	        </div>
	        <div class="input-field col s3">
	          <%= form.text_field :last_name2, id: :person_last_name2 %>
	          <%= form.label :last_name2, 'Materno' %>
	        </div>
	      </div>

	      <div class="row">
            <div class="input-field col s3">
              <% person_type_array = Person::PERSON_TYPES.invert %>
              <%= form.select :person_type, options_for_select(person_type_array, @person.person_type) %>
	          <%= form.label :person_type, 'Tipo' %>
            </div>
            <div class="input-field col s3">
	          <%= form.text_field :identificator, id: :person_identificator %>
	          <%= form.label :identificator, 'Identificador' %>
	        </div>

	        <div class="input-field col s6">
	          <%= form.text_field :email, id: :person_email %>
	          <%= form.label :email, 'Correo electrónico' %>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s4">
		      <%= form.collection_select :location_id, Location.all, :id, :name  %>
	          <%= form.label :location_id, "Ubicación" %>
		    </div>

		    <div class="input-field col s4">
		      <%= form.collection_select :department_id, Department.all, :id, :name  %>
	          <%= form.label :department_id, "Departamento" %>
		    </div>

		    <div class="input-field col s4">
		      <%= form.collection_select :person_id, Person.all, :id, :full_name  %>
	          <%= form.label :person_id, "Jefe" %>
		    </div>
          </div>
	    </div>

  	</div>
  </div>
</div>
<% end %>
<script>
  M.updateTextFields()
</script>