<div class="module-header">
  <div class="module-title"><strong>Personas</strong></div>
  <div class="module-actions">
  	<a class="waves-effect waves-light btn-small light-blue" href="/people/new">Agregar</a>
  </div>
</div>
<div class="module-workarea">
  <div class="people-letter-links">
    <% ("A".."Z").each do |l| %>
      <span class="people-letter"><a href="/people?l=<%= l %><% if params[:b] == 'b' %>&b=b<% end %>" <% if params[:l] == l %>class="people-letter-active"<% end %>  ><%= l %></a> </span>
    <% end %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label>
      <input type="checkbox" id="mostrar-bajas" name="b" value="b"
      <% if params[:b] == 'b' %> checked="checked" <% end %>>
      <span>Mostrar bajas</span>
    </label>
  </div>
  <div id="live-search">
  <table class="highlight">
  	<thead>
  	  <tr>
        <th>Tipo</th>
  	    <th>Nombre</th>
  	    <th>Correo</th>
  	    <th>Departamento</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
	      <tr>
          <% full_name = person.full_name rescue '--' %>
          <td><%= person.type_text %></td>
	  	    <td><%= link_to full_name, person  %></td>
	  	    <td><%= person.email rescue '--'%></td>
	  	    <td><%= person.department.name  rescue '--'%></td>
	      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

<script>
  $('#mostrar-bajas').change(function () {
    url = window.location.pathname + window.location.search;
    if ($('#mostrar-bajas').prop('checked')) {
      if (window.location.search != '') {
        window.location = url + '&b=b';
      } else {
        window.location = url + '?b=b';  
      }
      
    } else {
      url = url.replace('b=b','');
      window.location = url;
    }
  });
</script>