<%= form_with(model: @contract, local: true) do |form| %>
<div class="module-header">
  <div class="module-title">
  	<a href="<%= contracts_path %>">Contratos</a> <span class="grey-text">></span> <%= link_to @contract.name, @contract %> <span class="grey-text">></span> Editar
  </div>
  <div class="module-actions">
  	<%= form.submit 'Guardar', class: 'waves-effect waves-light btn-small blue-grey' %>
  </div>
</div>
<div class="module-workarea">

  	<div class="item-workarea">
  	  <div class="item-section">
  	  	<div class="item-section-title">Detalles</div>
        <div class="item-section-workarea">
          <% if @contract.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@contract.errors.count, "error") %> no permitieron que el contrato fuera guardado:</h2>

		      <ul>
		      <% @contract.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
    
	      <div class="row">
	      	<div class="input-field col s4">
	          <%= form.collection_select :contract_type_id, ContractType.all, :id, :name  %>
	          <%= form.label :contract_type_id, "Tipo" %>
	        </div>
	        <div class="input-field col s8">
	          <%= form.text_field :name, id: :contract_name %>
	          <%= form.label :name, 'Nombre' %>
	        </div>
	      </div>
	      <div class="row">

	        <div class="input-field col s4">
	          <%= form.text_field :number, id: :contract_number %>
	          <%= form.label :number, 'Identificador' %>
	        </div>
	        <div class="input-field col s4">
	          <%= form.text_field :cost, id: :cost %>
	          <%= form.label :cost, 'Monto' %>
	        </div>
            <div class="input-field col s4">
	          <% status_array = Contract::STATUS_TEXT.invert %>
              <%= form.select :status, options_for_select(status_array, @contract.status) %>
	          <%= form.label :status, 'Estado' %>
	        </div>
	 
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	          <%= form.text_area :description, id: :item_description, 'class': "materialize-textarea" %>
	          <%= form.label :description, 'Descripción' %>
	        </div>
	      </div>

        </div>
        
	     


	      <div class="item-section">
	      	<div class="item-section-title">Duración</div>
	      	<div class="item-section-workarea">
             

	          <div class="row">
		        <div class="input-field col s3">
		          <%= form.text_field :start_date, id: :contract_start_date, 'class': 'datepicker' %>
	              <%= form.label :start_date, "Fecha de inicio" %>
		        </div>
                <div class="input-field col s3">
		          <%= form.text_field :start_date, id: :contract_start_date, 'class': 'datepicker' %>
	              <%= form.label :start_date, "Fecha de termino" %>
		        </div>
		        <div class="input-field col s4">
	              <%= form.text_field :notify_to, id: :notify_to %>
	              <%= form.label :notify_to, 'Notificar al correo' %>
	            </div>
		        <div class="input-field col s2">
	              <%= form.text_field :notify_days, id: :notify_days %>
	              <%= form.label :notify_days, 'Días antes' %>
	            </div>
		        
	          </div>

	      	</div>
	      </div>


      


  	</div>
  </div>
</div>
<% end %>
<script>
  M.updateTextFields()
</script>