<div style="padding: 2em;">
  <div style="padding: 0.5em 0; border-bottom: 1px solid #ddd; font-size: 1.5em;">
    <strong>Ticket #<%= ticket.identificator %> </strong>
  </div>
  <p>Descripción: <%= ticket.description %></p>
  <% if !message.blank? %>
    <p>Mensaje: <%= message %></p>
  <% end %>
  <p>Esperamos que el ticket haya sido resuelto de manera satisfactoria. Si piensas que el ticket no debió haber sido cerrado o si el ticket no ha sido resuelto, por favor envíanos una respuesta a este correo.</p>
  <p>
  	<strong>Cuentanos que te pareció nuestro Soporte Técnico danto <em>CLICK</em> en la opción que desees:</strong><br>
  	<table>
  	   <tr><td><a href="<%= survey.survey_url %>/5" style="text-decoration: none;">Excelente</a> </td><td><a href="<%= survey.survey_url %>/5" style="color: #ffe700; font-size: 1.2em; text-decoration: none;">★★★★★</a></td></tr>
       <tr><td><a href="<%= survey.survey_url %>/4" style="text-decoration: none;">Bueno</a> </td><td><a href="<%= survey.survey_url %>/4" style="color: #ffe700; font-size: 1.2em; text-decoration: none;">★★★★</a></td></tr>
       <tr><td><a href="<%= survey.survey_url %>/3" style="text-decoration: none;">Regular</a> </td><td><a href="<%= survey.survey_url %>/3" style="color: #ffe700; font-size: 1.2em; text-decoration: none;">★★★</a></td></tr>
       <tr><td><a href="<%= survey.survey_url %>/2" style="text-decoration: none;">Malo</a> </td><td><a href="<%= survey.survey_url %>/2" style="color: #ffe700; font-size: 1.2em; text-decoration: none;">★★</a></td></tr>
       <tr><td><a href="<%= survey.survey_url %>/1" style="text-decoration: none;">Pésimo</a> </td><td><a href="<%= survey.survey_url %>/1" style="color: #ffe700; font-size: 1.2em; text-decoration: none;">★</a></td></tr>
  	</table>
  </p>
  <p>Saludos,<br>
  <%= ticket.agent.full_name %><br>
  Coordinación de Tecnologías de la Información<br>
  CIMAV
  </p>
</div>
