<div class="module-header">
  <div class="module-title">
    <% if @referer == 'items' %>
  	  <a href="/cmdb">Inventario</a> <span class="grey-text">></span> <%= @element.name %> </a>
    <% end %>
    <% if @referer == 'tickets' %>
      <a href="/tickets">Tickets</a> <span class="grey-text">></span> <%= @element.identificator %> </a>
    <% end %>
    <% if @referer == 'problems' %>
      <a href="/problems">Problemas</a> <span class="grey-text">></span> <%= @element.identificator %> </a>
    <% end %>
    <% if @referer == 'changes' %>
      <a href="/changes">Cambios</a> <span class="grey-text">></span> <%= @element.identificator %> </a>
    <% end %>
    <% if @referer == 'contracts' %>
      <a href="/contracts">Contratos</a> <span class="grey-text">></span> <%= @element.name %> </a>
    <% end %>
    <% if @referer == 'people' %>
      <a href="/people">Personas</a> <span class="grey-text">></span> <%= @element.full_name %> </a>
    <% end %>
  </div>
  <div class="module-actions">
  	
  </div>
</div>
<div class="module-workarea">
  <div class="module-menu">
  	
    <% if @referer == 'items' %>
      <% @item = @element %>
      <%= render partial:"items/menu", locals: {active: 'actividad'} %>
    <% end %>

    <% if @referer == 'contracts' %>
      <% @contract = @element %>
      <%= render partial:"contracts/menu", locals: {active: 'actividad'} %>
    <% end %>

    <% if @referer == 'tickets' %>
      <% @ticket = @element %>
      <%= render partial:"tickets/menu", locals: {active: 'actividad'} %>
    <% end %>

    <% if @referer == 'problems' %>
      <% @problem = @element %>
      <%= render partial:"problems/menu", locals: {active: 'actividad'} %>
    <% end %>

    <% if @referer == 'changes' %>
      <% @change = @element %>
      <%= render partial:"changes/menu", locals: {active: 'actividad'} %>
    <% end %>

    <% if @referer == 'people' %>
      <% @person = @element %>
      <%= render partial:"people/menu", locals: {active: 'actividad'} %>
    <% end %>
  </div>
  <div class="item-area">
  	<div class="item-workarea">
  	  <div class="row">
        <div class="col s12 item-main">
          <div class="log-items">
          <div class="log-item log-item-new">
              <div class="log-picture log-picture-input">
                <img src="<%= current_user.picture_url %>" alt="" class="circle responsive-img">
            </div>
            <div class="log-input">
              <%= form_for [@element, @activity_log] do |form| %>
		        <div class="input-field">
			      <%= form.text_field :message, id: :message %>
			      <%= form.label :message, 'Escribe tu mensaje' %>
			    </div>
			   <% end %>          
            </div>
            <div class="clearfix"></div>
          </div>
               
          <% @activity_logs.each do |msg| %>
            <div class="log-item">
              <div class="log-picture">
                <img src="<%= msg.agent.picture_url %>" alt="" class="circle responsive-img">
              </div>
              <div class="log-content">
                <strong><%= msg.agent.full_name %></strong> <span class="log-date"> <%= msg.created_at %></span><br>
                  <%= msg.message %>  
                  <% 
                  if msg.changed_values && msg.changed_values != '' 
                    changes = JSON.parse(msg.changed_values) 
                  %>
                  <table class="record-changes">
                    <tr><th>Campo</th><th>De</th><th>A</th></tr>
                  <%
                    changes.each do |k,v|
                  %>
                        <tr><td><%= @element.field_text(k) %></td><td><%= v[0] %></td><td><%= v[1] %></td></tr>
                  <%    
                    end
                  %>
                  </table>
                  <%
                  end
                  %>

              </div>
              <div class="clearfix"></div>
            </div>
          <% end %>
          </div>
            
        </div>
      </div>
  	</div>
  </div>
</div>





