<div id="project-tasks">
  <div class="section-title">Tareas <button class="waves-effect waves-light btn-small green lighten-1" data-project-id="<%= project.id %>" id="button-add-task"><i class="material-icons left">add</i>Agregar tarea</button>
  </div>
  <div class="row">	
	<div class="col s4">
	  <div class="task-title">Pendiente</div>
	  <div class="task-container" id="task-todo" data-id="<%= ProjectTask::TODO %>">
		<% project.project_tasks.where(status: ProjectTask::TODO).order(:position).each do |task| %>
		  <div class="task-item" data-id="<%= task.id %>" id="task-<%= task.id %>">
		  	<div class="remove-task" data-task-id="<%= task.id %>" data-project-id="<%= task.project.id %>"><i class="material-icons tiny">close</i></div>
			<img src="<%= task.agent.picture_url %>" alt="" class="circle responsive-img"><%= task.description %>
			<div class="task-extra">
			  <% if !task.start_date.blank? %>
			    Inicio programado: <%= task.start_date %><br>
			  <% end %>
			  <% if !task.due_date.blank? %>
			    Termino programado: <%= task.due_date %>
			  <% end %>
			</div>
		  </div>
		<% end %>
	  </div>
	</div>

    <div class="col s4">
	  <div class="task-title">Haciendo</div>
	  <div class="task-container" id="task-doing" data-id="<%= ProjectTask::DOING %>">
		<% project.project_tasks.where(status: ProjectTask::DOING).order(:position).each do |task| %>
		  <div class="task-item" data-id="<%= task.id %>" id="task-<%= task.id %>">
		  	<div class="remove-task" data-task-id="<%= task.id %>" data-project-id="<%= task.project.id %>"><i class="material-icons tiny">close</i></div>
			<img src="<%= task.agent.picture_url %>" alt="" class="circle responsive-img"> <%= task.description %>
			<div class="task-extra">
			  <% if !task.start_date.blank? %>
			    Inicio programado: <%= task.start_date %><br>
			  <% end %>
			  
			  Iniciada en: <%= task.doing_date.strftime('%Y-%m-%d') %><br>
			  
			  <% if !task.due_date.blank? %>
			    Termino programado: <%= task.due_date %>
			  <% end %>
			</div>
		  </div>
		<% end %>
	  </div>
	</div>

	<div class="col s4">
	  <div class="task-title">Hecho</div>
	  <div class="task-container" id="task-done" data-id="<%= ProjectTask::DONE %>">
		<% project.project_tasks.where(status: ProjectTask::DONE).order(:position).each do |task| %>
		  <div class="task-item" data-id="<%= task.id %>" id="task-<%= task.id %>">
		  	<div class="remove-task" data-task-id="<%= task.id %>" data-project-id="<%= task.project.id %>"><i class="material-icons tiny">close</i></div>
			<img src="<%= task.agent.picture_url %>" alt="" class="circle responsive-img"> <%= task.description %>
			<div class="task-extra">
			  <% if !task.start_date.blank? %>
			    Inicio programado: <%= task.start_date %><br>
			  <% end %>
			  
			  Iniciada en: <%= task.doing_date.strftime('%Y-%m-%d') %><br>
			  
			  <% if !task.due_date.blank? %>
			    Termino programado: <%= task.due_date %>
			  <% end %>
			  
			  Finalizada en: <%= task.done_date.strftime('%Y-%m-%d') %><br>
			  
			</div>
		  </div>
		<% end %>
	  </div>
	</div>
	
  </div>
</div>

<!-- Modal New task -->
  <div id="modal-add-task" class="modal">
    <div class="modal-content">
      <div class="input-field">
        <input type="text" name="task-description" id="new-task-description" required>
        <label for="new-task-description">Tarea</label>
      </div>
      <div class="input-field">
        <select name="task-agent" id="new-task-agent">
          <% agents = Agent.joins(:person).order('people.first_name', 'people.last_name') %>
          <% agents.each do |agent| %>
            <% if agent.id == current_user.id %>
              <% selected = 'selected="selected"' %>
            <% else %>
              <% selected = '' %>
            <% end %>
            <option <%= selected %> value="<%= agent.id %>"><%= agent.full_name %></option>
          <% end %>
        </select>
        <label for="new-task-agent">Agente</label>
      </div>
      <div class="row">
      	<div class="col s6">
	       <div class="input-field">
	        <p>
	        <label>
	          <input name="with-start-date" id="with-start-date-no" value="no" type="radio" checked />
	          <span>Sin Inicio Programado</span>
	        </label>
	      </p>
	      <p>
	        <label>
	          <input name="with-start-date" id="with-start-date-yes" value="yes" type="radio" />
	          <span>Con Inicio Programado</span>
	        </label>
	        </p>
	      </div>
	    </div>
	    <div class="col s6">
	      <div class="input-field" id="start-date-area">
	        <input type="date" name="task-start-date" id="new-task-start-date">
	        <label for="new-task-start-date">Inicio programado</label>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	  	<div class="col s6">
	      <div class="input-field">
	        <p>
	        <label>
	          <input name="with-due-date" id="with-due-date-no" value="no" type="radio" checked />
	          <span>Sin Termino Programado</span>
	        </label>
	      </p>
	      <p>
	        <label>
	          <input name="with-due-date" id="with-due-date-yes" value="yes" type="radio" />
	          <span>Con Termino Programado</span>
	        </label>
	        </p>
	      </div>
	    </div>
	    <div class="col s6">
	      <div class="input-field" id="due-date-area">
	        <input type="date" name="task-due-date" id="new-task-due-date">
	        <label for="new-task-due-date">Termino programado</label>
	      </div>
	    </div>
	  </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn green lighten-1" id="button-add-new-task" data-project-id="<%= project.id %>">Agregar tarea</a>
    </div>
  </div>

<script>
$(document).ready(function(){
	$('#modal-add-task').modal();
	$('select').formSelect();

	$(document).on('click', '#with-start-date-no', function() {
      $('#start-date-area').hide();
      $('#new-task-start-date').val('');
    });

	$(document).on('click', '#with-start-date-yes', function() {
      $('#start-date-area').show();
    });

	$(document).on('click', '#with-due-date-no', function() {
      $('#due-date-area').hide();
      $('#new-task-due-date').val('');
    });

	$(document).on('click', '#with-due-date-yes', function() {
      $('#due-date-area').show();
    });
	

    $(document).on('click', '#button-add-task', function() {
      $('#modal-add-task').modal('open');
    });

    $(document).on('click', '#button-add-new-task', function() {
      var validated = true;
      var description = $('#new-task-description').val();
      var project_id = $(this).data('project-id');
      if (description == '') {
      	$('#new-task-description').focus();
      	alert('Se requiere descripción de la tarea');
      	validated = false;
      } 

      if (validated) {
	      agent = $('#new-task-agent').val();
	      start_date = $('#new-task-start-date').val();
	      due_date = $('#new-task-due-date').val();
	      url = '/projects/' + project_id + '/tasks';
	      $('#modal-add-task').modal('destroy');
	      $.post(url, {description: description, agent: agent, start_date: start_date, due_date: due_date}, function( data ) {
	      	M.toast({html: data.message});
	         // Reload Kanban
	         kanban_url = '/project_tasks/kanban/' + project_id;
	         $.get(kanban_url, function( data ) {
	           $('#kanban-area').html(data)
	         });
	      });
	  }
    });



    var drake = dragula([document.querySelector('#task-todo'), document.querySelector('#task-doing'), document.querySelector('#task-done')]);

    drake.on('drop', function (el, target, source, sibling) {      
      if (target.id == 'task-done' && source.id == 'task-todo') {
        drake.cancel(true);
      } else {
        var p_id = $('#' + el.id).data('id');
        var p_source =  $('#' + source.id).data('id');
        var p_target = $('#' + target.id).data('id');
        var p_sibling = 0;
        if (sibling) {
          p_sibling = $('#' + sibling.id).data('id');
        }
        var url = '/project_tasks/move/' + p_id + '/' + p_source + '/' + p_target + '/' + p_sibling
        $.post(url, function( data ) {
           M.toast({html: data.message});
        });
      }
    });

    
});
</script>