<%= form_for [@problem, @problem_ticket] do |form| %>
<div class="module-header">
  <div class="module-title">
  	<a href="<%= problems_path %>">Problemas</a> <span class="grey-text">></span> <%= @problem.identificator %> </a>
  </div>
  <div class="module-actions">
  	
  </div>
</div>
<div class="module-workarea">
  <div class="module-menu">
    <%= render partial:"problems/menu", locals: {active: 'tickets'} %>
  </div>
  <div class="item-area">
  	<div class="item-workarea">
  	  <div class="row">
        <div class="col s12 item-main">
          <div class="item-relationship-title row">
            <div class="col s10">
        	  <%= @problem.identificator %> tiene  
        	  <span id="item-relationship-to">...</span>
            </div>
            <div class="col s2">
              <%= form.submit 'Agregar tickets', class: 'waves-effect waves-light btn-small light-blue' %>
            </div>
          </div>

          <div class="row">
          	
          	<div class="col s12">
          	  <table>
          	  	<tr>
          	  	  <td>
          	  	  	<%= text_field_tag :q_ticket, nil, placeholder: 'Busca...' %>
          	  	  </td>
          	  	</tr>
                <tbody id="select-search-results">
                  <%= render partial:"tickets/select_search", locals: {tickets: Ticket.where(status: Ticket::STATUS_OPEN).order('created_at DESC')} %>
                </tbody>
          	  </table>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>