<div style="padding: 2em;">
  <div style="padding: 0.5em 0; border-bottom: 1px solid #ddd; font-size: 1.5em;">
    <strong>Ticket #<%= @ticket.identificator %> </strong>
  </div>
  <p>Hola <%= @ticket.agent.full_name %>,</p>
  <p>Hacemos de tu conocimiento que se te ha asignado el Ticket #<%= @ticket.identificator %> creado por <%= @ticket.created_by.full_name %>.</p>
  <p>Solicitante: <%= @ticket.person.full_name %></p>
  <p>Descripción: <%= @ticket.description %></p>
  
  <p>Saludos,<br>
  <%= @ticket.created_by.full_name %><br>
  Coordinación de Tecnologías de la Información<br>
  CIMAV
  </p>
</div>