<div class="module-header">
  <div class="module-title">
    Préstamos
  </div>
  <div class="module-actions">
  </div>
</div>
<div class="module-workarea">
  <div class="item-area">
  	<div class="item-workarea">
  	  <div class="row">
        <div class="col s12 item-main">
          <table>
          	<tr class="table-super-header"><th colspan="7">Prestados</th></tr>
            <% if @loaned.count < 1 %>
              <tr><td colspan="7">No existen prestamos actualmente.</td></tr>
            <% else %>
              <tr>
                 <th colspan="2">¿A quién?</th>
                <th>Tipo</th>
                <th>¿Cuándo?</th>
                <th>Regresar en</th>
                <th>Notas</th>
                <th></th>
              </tr>
              <% @loaned.each do |loan| %>
                <tr>
                  <td class="loan-img"><img src="<%= loan.person.picture_url %>" alt="" class="circle responsive-img"></td>
                  <td><%= loan.person.full_name %></td>
                  <td><a href="<%= item_path loan.item %>"><%= loan.item.item_type.name %>: <%= loan.item.name %></a></td>
                  <td><%= loan.created_at.strftime('%Y-%m-%d') %></td>
                  <td><%= loan.return_date.strftime('%Y-%m-%d') %></td>
                  <td><%= loan.notes %></td>
                  <td><a href="#modal-return" class="waves-effect waves-light btn-small blue-grey modal-trigger" data-loan-id="<%= loan.id %>" id="regresar-<%= loan.id %>">Regresar</a></td>
                </tr>
              <% end %>
            <% end %>
          </table>  
        </div>
      </div>
      <div class="row">
        <div class="col s12 item-main">
          <table class="loans-table">
            <tr class="table-super-header"><th colspan="3">Disponibles</th></tr>
            <% if @loanables.count < 1 %>
               <tr><td colspan="7">Todo está prestado.</td></tr>
            <% else %>
              <tr>
                <th>Nombre</th>
                <th></th>
              </tr>
              <% @loanables.each do |i| %>
                <tr>
                  <td><a href="<%= item_path i %>"><%= i.item_type.name %>: <%= i.name %></a></td>
                  <td><a href="#" class="waves-effect waves-light btn-small blue-grey btn modal-trigger" data-target="modal-loan" data-item-id="<%= i.id %>" id="prestar-<%= i.id %>">Prestar</a></td>
                </tr>
              <% end %>
            <% end %>
          </table>  
        </div>
      </div>
  	</div>
  </div>
</div>

<!-- Modal Prestar -->
  <div id="modal-loan" class="modal">
    <% @loan = Loan.new %>
    <% @loan.return_date = (Time.now + 1.day).strftime("%Y-%d-%m") %>
    <%= form_with(model: @loan, local: true) do |form| %>
      <%= form.hidden_field :item_id %>
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <%= form.collection_select :person_id, Person.order('first_name', 'last_name'), :id, :full_name  %>
          <%= form.label :person_id, "Solicitante" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.text_area :notes, id: :ticket_notes, 'class': "materialize-textarea" %>
          <%= form.label :notes, 'Notas' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.text_field :return_date, id: :loan_return_date, 'class': 'datepicker' %>
          <%= form.label :return_date, "Fecha de regreso" %>
        </div>
      </div>
      
    </div>
    <div class="modal-footer">
      <%= form.submit 'Prestar', class: 'waves-effect waves-light btn-small blue-grey' %>
    </div>
    <% end %>
  </div>


<!-- Modal Regresar -->
  <div id="modal-return" class="modal">
    <%= form_tag('#', method: "post", id: 'loan-return-form') do |form| %>
    <div class="modal-content">

      <div class="row">
        <div class="input-field col s12">
          <%= text_area_tag :return_notes, '', id: :ticket_return_notes, 'class': "materialize-textarea" %>
          <%= label_tag :return_notes, 'Notas' %>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <%= submit_tag 'Regresar', class: 'waves-effect waves-light btn-small blue-grey' %>
    </div>
    <% end %>
  </div>

<script>
  $(document).ready(function(){
    $('#modal-loan').modal({
      onOpenStart: function(modal, trigger) { 
        $("#loan_item_id").val($("#" + trigger.id).data("item-id"));
      }
    });
  });

  $(document).ready(function(){
    $('#modal-return').modal({
      onOpenStart: function(modal, trigger) { 
        var return_action = '/loans/' + $("#" + trigger.id).data("loan-id") + '/return';
        $("#loan-return-form").attr('action', return_action);
      }
    });
  });
</script>