<%
detalle_class = active == 'detalle'? 'active' : ''
relaciones_class = active == 'relaciones'? 'active' : ''
contratos_class = active == 'contratos'? 'active' : ''
gastos_class = active == 'gastos'? 'active' : ''
archivos_class = active == 'archivos'? 'active' : ''
actividad_class = active == 'actividad'? 'active' : ''
%>
<ul class="tabs">
  <li class="tab col s2"><%= link_to 'Detalles', item_path(@item), target: "_self", class: detalle_class  %></li>
  <li class="tab col s2"><%= link_to 'Relaciones', item_item_relationships_path(@item), target: "_self", class: relaciones_class%></li>
  <li class="tab col s2"><%= link_to 'Contratos', item_contracts_path(@item), target: "_self", class: contratos_class%></li>
  <li class="tab col s2"><a href="#">Gastos</a></li>
  <li class="tab col s2"><%= link_to 'Archivos', item_attachments_path(@item), target: "_self", class: archivos_class%></li>
  <li class="tab col s2"><%= link_to 'Actividad', item_activity_logs_path(@item), target: "_self", class: actividad_class%></li>
</ul>