<%= form_with(model: @item, local: true) do |form| %>
<div class="module-header">
  <div class="module-title">
  	<a href="<%= items_path %>">Inventario</a> <span class="grey-text">></span> <%= link_to @item.name, @item %> <span class="grey-text">></span> Editar</a>
  </div>
  <div class="module-actions">
  	<%= form.submit 'Guardar', class: 'waves-effect waves-light btn-small light-blue' %>
  </div>
</div>
<div class="module-workarea">

  	<div class="item-workarea" data-id=<%= @item.id %>>
  	  <div class="item-section">
  	    <div class="item-section-title">General</div>
        <div class="item-section-workarea">
          <% if @item.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

		      <ul>
		      <% @item.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
    
	      <div class="row">
	        <div class="input-field col s6">
	          <%= form.text_field :name, id: :item_name %>
	          <%= form.label :name, 'Nombre' %>
	        </div>

	        <div class="input-field col s6">
	          <%= form.text_field :identificator, id: :item_identificator %>
	          <%= form.label :identificator, 'Identificador' %>
	        </div>
	      </div>


	      <div class="row">
	        <div class="input-field col s6">
	          <%= form.collection_select :item_type_id, ItemType.all, :id, :name %>
	          <%= form.label :item_type_id, "Tipo" %>
	        </div>

	        <div class="input-field col s6">
	          <% impact_array = Item::IMPACT.invert %>
              <%= form.select :impact, options_for_select(impact_array, @item.impact) %>
	          <%= form.label :impact, 'Impacto' %>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	          <%= form.text_area :description, id: :item_description, 'class': "materialize-textarea" %>
	          <%= form.label :description, 'Descripción' %>
	        </div>
	      </div>
	    </div>
	    </div>

	      <div id="extra-fields">
	      	<%= render partial:"item_types/ui", locals: {item: @item, item_types: @item_types} %>
	      </div>


	      <div class="item-section">
	      	<div class="item-section-title">Asignación</div>
	      	<div class="item-section-workarea">
              <div class="row">
		        <div class="input-field col s6">
		          <%= form.collection_select :location_id, Location.all, :id, :name  %>
	              <%= form.label :location_id, "Ubicación" %>
		        </div>

		        <div class="input-field col s6">
		          <%= form.collection_select :department_id, Department.all, :id, :name  %>
	              <%= form.label :department_id, "Departamento" %>
		        </div>
	          </div>

	          <div class="row">
		        <div class="input-field col s6">
		          <%= form.collection_select :used_by, Person.all, :id, :full_name  %>
	              <%= form.label :used_by, "Usado por" %>
		        </div>

		        <div class="input-field col s6">
		          <%= form.collection_select :managed_by, Agent.all, :id, :full_name  %>
	              <%= form.label :managed_by, "Administrado por" %>
		        </div>
	          </div>

	          <div class="row">
		        <div class="input-field col s6">
		          <%= form.text_field :assigned_on, id: :item_assigned_on, 'class': 'datepicker' %>
	              <%= form.label :assigned_on, "Fecha de asignación" %>
		        </div>

		        <div class="input-field col s6">
		          <label>
		          <%= form.check_box :is_loanable %>
                  <span>Disponible para préstamo</span>
                </label>
		        </div>
	          </div>
	      	</div>
	      </div>

	      <div class="row" id="item_accesscontrol" style="display: none;">
            <div class="input-field col s6">
		      <label>
		        <%= form.check_box :has_access_controls %>
                <span>Administrar control de accesos</span>
              </label>
		    </div>    
	      </div>


      


  	</div>
  </div>
</div>
<% end %>
<script>
  M.updateTextFields()

  $(document).on('change', '#item_item_type_id', function(){
  	if ($('#item_item_type_id').val() == <%= Item::ITEM_SOFTWARE %>) {
  	  $('#item_accesscontrol').show();
  	} else {
  	  $('#item_accesscontrol').hide();
  	}
  })
</script>