<div class="module-header">
  <div class="module-title">
  	<a href="/cmdb">Inventario</a> <span class="grey-text">></span> <%= @item.name %> </a>
  </div>
  <div class="module-actions">
  	
  </div>
</div>
<div class="module-workarea">
  <div class="module-menu">
    <%= render partial:"items/menu", locals: {active: 'relaciones'} %>
  </div>
  <div class="item-area">
  	<div class="item-workarea">
  	  <div class="row">
        <div class="col s12 item-main">

          <table class="relationships-table">
          	<% 
          	rels = {}
            
            @item.relationship_children.order(:relationship_id).each do |rel| 
              rels[rel.relationship.name] = [] if !rels[rel.relationship.name]
              rels[rel.relationship.name] << [rel.id, rel.child] 
            end
            @item.relationship_parents.order(:relationship_id).each do |rel|
              rels[rel.relationship.inverse] = [] if !rels[rel.relationship.inverse]
              rels[rel.relationship.inverse] << [rel.id, rel.parent] 
            end 

            if rels.count == 0 %>
              <tr>
                <td class="no-items">No existen relaciones</td>
              </tr>
            <%
            end

            rels.each do |k,v| %>
              <tr>
                <td rowspan="<%= v.count %>"><%= k %></td>
                <% first = true %>
                <% v.each do |i| %>
                  <% r = ItemRelationship.find(i[0]) %>
                  <% if first %>
                    <td><%= link_to i[1].name %> (<%= i[1].item_type.name %>) 
                      <%= link_to item_item_relationship_path(@item, r), method: :delete, class: 'delete-link' do %> 
                        <i class="material-icons">delete</i> 
                      <% end %>
                    </tr>
                  <% else %>
                    <tr>
                      <td><%= link_to i[1].name, i[1] %> (<%= i[1].item_type.name %>)</td>
                    </tr>
                  <% end %>
                <% end %>
            <% end %>
          </table>
          <div class="add-relationship-button-area">
          	<a class="btn-floating btn-small waves-effect waves-light blue-grey" href="<%=new_item_item_relationship_url(@item) %>"><i class="material-icons">add</i></a>
          </div>
        </div>
      </div>
  	</div>
  </div>
</div>