<!DOCTYPE html>
<html>
  <head>
    <title>Tecnologías de la Información</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div id="sidebar">
      <div class="dashboard-link">
        <a href="/"><i class="material-icons">dashboard</i></a>
      </div>
      <div class="sidebar-item">
        <a href="/tickets" class="tooltipped" data-position="right" data-tooltip="Tickets"><i class="material-icons">confirmation_number</i></a>
      </div>

      <div class="sidebar-item">
        <a href="/changes" class="tooltipped" data-position="right" data-tooltip="Cambios"><i class="material-icons">track_changes</i></a>
      </div>

      <div class="sidebar-item">
        <a href="/projects" class="tooltipped" data-position="right" data-tooltip="Proyectos"><i class="material-icons">library_books</i></a>
      </div>   
      
      <div class="sidebar-item">
        <a href="/cmdb" class="tooltipped" data-position="right" data-tooltip="Inventario"><i class="material-icons">layers</i></a>
      </div>
      <div class="sidebar-item">
        <a href="/contracts" class="tooltipped" data-position="right" data-tooltip="Contratos"><i class="material-icons">description</i></a>
      </div>
      <div class="sidebar-item">
        <a href="/people" class="tooltipped" data-position="right" data-tooltip="Personas"><i class="material-icons">people</i></a>
      </div>
      <div class="sidebar-item">
        <a href="/admin" class="tooltipped" data-position="right" data-tooltip="Configuración"><i class="material-icons">settings</i></a>
      </div>
      
      
    </div>
    <div id="header">
      <a href="/"><%= image_tag "logo.svg" %></a>
      <div class="header-title"><a href="/">Tecnologías de la Información</a></div>
      <div id="user-menu">
        <a class="dropdown-trigger" href='#' data-target="user-dropdown"><img src="<%= current_user.picture_url %>" alt="" class="circle">
        <ul id='user-dropdown' class='dropdown-content'>
          <li><a href="/logout">Salir</a></li>
        </ul>
      </div>

    </div>
    <div id="workarea">

      <%= yield %>
    </div>
    
    
    <script>
    $(document).ready(function(){
      $('.tooltipped').tooltip();
      $('select').formSelect();
      $('.datepicker').datepicker();
      $('.tabs').tabs();
      $('.dropdown-trigger').dropdown();
      $('.materialboxed').materialbox();
      <% if notice.present? %>
        M.toast({html: '<%= notice %>'})
      <% end %>
    });
    </script>
  </body>
</html>
